@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?yumb6j");
  src: url("fonts/icomoon.eot?yumb6j#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?yumb6j") format("truetype"), url("fonts/icomoon.woff?yumb6j") format("woff"), url("fonts/icomoon.svg?yumb6j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "";
}

.icon-checkmark:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-message:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  max-width: 100vw;
  min-height: 100%;
  font-family: "ProximaNova";
  background: #fbfcfe;
  font-size: 11px;
  color: #55637e;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

h1 {
  font-size: 4.36rem;
  font-weight: 700;
  color: #140a4c;
  line-height: 1.25;
  margin: 0;
}

h2 {
  font-size: 2.18rem;
  line-height: 1.25;
  margin: 0;
}

h3 {
  font-size: 1.63rem;
  line-height: 1.25;
  margin: 0;
}

h4 {
  font-size: 1.27rem;
  line-height: 1.25;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.45;
  margin: 0;
}

.btn {
  outline: none;
  -webkit-appearance: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.09091rem;
  border-radius: 8px;
  background: #000000;
  color: #ffffff;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.09rem;
}

.btn--primary {
  background-color: #0cb5c3;
}

.btn--primary:hover {
  background-color: #098892;
}

.btn--white {
  background-color: #fbfcfe;
}

.btn--transparent {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #e1e4e9;
          box-shadow: inset 0 0 0 2px #e1e4e9;
}

.btn--transparent .btn__text {
  color: #0cb5c3;
}

.btn--big {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--big img {
  display: block;
  margin: 0 auto;
}

.lang-selector {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-selector__flag {
  height: 1.09091rem;
}

.lang-selector__select {
  border: none;
  outline: none;
  color: #140a4c;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  padding: 0 1.45455rem 0 0.72727rem;
  cursor: pointer;
}

.lang-selector i {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8.18182rem;
  width: 100%;
  padding: 0 14.54545rem;
  position: absolute;
  top: 0;
  left: 0;
}

.header__logo {
  height: 3.63636rem;
}

.header__toggle {
  display: none;
}

.header__menu .header__menu-item {
  margin: 0 1.45455rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #140a4c;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__actions > * {
  margin: 0 0.72727rem;
}

.mobile-menu {
  width: 100%;
  height: 100vh;
  background: white;
  padding: 0 2.72727rem;
  overflow: hidden;
  position: absolute;
  top: -120%;
  left: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.mobile-menu.active {
  top: 0;
}

.mobile-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8.18182rem;
  width: 100%;
}

.mobile-menu i {
  font-size: 1.45455rem;
}

.mobile-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5.45455rem;
}

.mobile-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__menu .mobile-menu__menu-item {
  margin-bottom: 1.45455rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #140a4c;
}

.mobile-menu__actions {
  margin-top: 2.72727rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__actions > * {
  margin-top: 1.45455rem;
}

main {
  padding: 0 14.54545rem;
  padding-top: 12.72727rem;
  background-image: url(/img/body_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 9.09091rem;
}

main section {
  padding-bottom: 11.81818rem;
}

main section:last-child {
  padding-bottom: 21.81818rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner__texts {
  margin-right: 10.45455rem;
}

.banner__title {
  margin-bottom: 1.81818rem;
}

.banner__subtitle {
  margin-bottom: 2.72727rem;
}

.banner__subtitle--little {
  color: #140a4c;
}

.banner__img {
  width: 41.36364rem;
  border: solid 1px #c4c4c4;
  border-radius: 8px;
}

.banner__img--no-border {
  border: none;
}

.features {
  text-align: center;
}

.features__title {
  color: #140a4c;
}

.features .features-cont {
  margin-top: 3.63636rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.81818rem;
          column-gap: 1.81818rem;
}

.features .feature__img {
  height: 14.54545rem;
  margin-bottom: 2.72727rem;
}

.features .feature__title {
  margin-bottom: 0.90909rem;
  color: #140a4c;
}

.add-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-on__texts {
  margin-right: 13.63636rem;
}

.add-on__title {
  margin-bottom: 1.81818rem;
  color: #140a4c;
}

.add-on__description {
  width: 90%;
  line-height: 1.45;
}

.add-on__description:last-of-type {
  margin-bottom: 2.72727rem;
}

.add-on__img {
  width: 41.36364rem;
  border-radius: 8px;
}

.add-on--left .add-on__img {
  width: 50rem;
}

.add-on--left .add-on__texts {
  margin-right: 0;
  margin-left: 5.45455rem;
}

.add-on--end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.add-on--end .add-on__texts {
  margin-bottom: 1.09091rem;
}

.testimonials-cont {
  margin-top: 2.72727rem;
  padding-top: 2.72727rem;
  border-top: solid 1px #c4c4c4;
}

.testimonials-cont__testimonial {
  padding: 0 1.81818rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials-cont__avatar {
  width: 3.45455rem;
  border-radius: 50%;
  border: solid 1px #0cb5c3;
  margin-right: 3.45455rem;
}

.testimonials-cont__texts {
  margin-top: 1.45455rem;
}

.testimonials-cont__name {
  color: #140a4c;
  font-weight: 700;
  margin-bottom: 0.72727rem;
}

.testimonials-cont__role {
  color: #98a2b7;
  margin-bottom: 1.45455rem;
}

.footer {
  background-color: #0cb5c3;
  background-image: url(/img/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #ffffff;
  position: relative;
}

.footer__over {
  width: calc(100% - 320px);
  background: #f0feff;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 2.72727rem 1.81818rem;
  margin: 0 auto;
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .over__texts {
  text-align: center;
}

.footer .over__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.81818rem;
          column-gap: 1.81818rem;
}

.footer .over__buttons > div {
  text-align: center;
}

.footer .over__buttons > div h4 {
  color: #140a4c;
  margin-bottom: 1.45455rem;
}

.footer .over__buttons > div button img {
  height: 2.90909rem;
}

.footer .over__buttons > div button:not(:last-child) {
  margin-bottom: 1.45455rem;
}

.footer__body {
  padding: 12.72727rem 14.54545rem 2.72727rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__body > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__body > div > *:first-child {
  margin-right: 7.27273rem;
}

.footer__logo {
  height: 3.63636rem;
}

.footer__info .footer__address {
  list-style-type: none;
  margin: 1.45455rem 0;
  padding: 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav a:not(:last-child) {
  margin-bottom: 1.36364rem;
}

.footer .social__logos {
  margin-top: 1.09091rem;
}

.footer .social__logos i {
  font-size: 2.09091rem;
  margin-right: 1.45455rem;
}

.footer__bottom {
  padding: 2.18182rem 14.54545rem;
  width: 100%;
  background-color: #098892;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ======================== */
/* ======================== */
/* ======================== */
@media (min-width: 1800px) {
  html,
  body {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .header {
    padding: 0 7.27273rem;
  }
  main {
    padding-left: 7.27273rem;
    padding-right: 7.27273rem;
  }
}

@media (max-width: 1400px) {
  .header {
    padding: 0 7.27273rem;
  }
  main {
    padding-left: 7.27273rem;
    padding-right: 7.27273rem;
  }
}

@media (max-width: 540px) {
  html,
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 3.052rem;
  }
  h2 {
    font-size: 1.953rem;
  }
  h3 {
    font-size: 1.563rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  .header {
    padding: 0 1.36364rem;
  }
  .header__toggle {
    display: block;
    height: 1.45455rem;
  }
  .header__menu {
    display: none;
  }
  .header__actions {
    display: none;
  }
  .lang-selector {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .lang-selector i {
    font-size: 1rem;
  }
  main {
    padding-left: 2.72727rem;
    padding-right: 2.72727rem;
    background-size: auto;
    background-repeat: repeat-y;
  }
  main section {
    padding-bottom: 5.45455rem;
  }
  main section:last-child {
    padding-bottom: 10.90909rem;
  }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner__texts {
    margin-right: 0;
  }
  .banner__img {
    width: 100%;
    margin-bottom: 2.72727rem;
  }
  .features .features-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .feature {
    margin-bottom: 5.45455rem;
  }
  .features .feature__img {
    height: 7.27273rem;
  }
  .add-on {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .add-on__texts {
    margin: 0;
  }
  .add-on__img {
    width: 100%;
    margin: 2.72727rem 0;
  }
  .add-on--left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-on--left .add-on__img {
    width: 100%;
  }
  .add-on--left .add-on__texts {
    margin-left: 0;
  }
  .testimonials-cont__texts {
    margin-top: 0.72727rem;
  }
  .footer__over {
    display: none;
  }
  .footer__body {
    padding: 2.72727rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__body > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__logo, .footer__info, .footer__nav {
    margin-bottom: 5.45455rem;
  }
  .footer__bottom {
    padding: 2.18182rem 2.72727rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 430px) {
  html,
  body {
    font-size: 14px;
  }
  .header {
    padding: 0 2.72727rem;
  }
  main {
    padding-left: 2.72727rem;
    padding-right: 2.72727rem;
  }
}
/*# sourceMappingURL=styles.css.map */