// #COLORS VARIABLES#
//

$color-gray: #e1e4e9;
$color-gray-dark: #98a2b7;
$color-text: #55637e;
$color-text-dark: #140a4c;
$color-primary: #0cb5c3;
$color-primary-dark: #098892;
$color-primary-light: #6dd3db;
$color-primary-active: #136f76;
$color-primary-disabled: #9ee1e7;
$color-yellow: #f5aa16;
$color-red: #eb5d5e;
$color-green: #3fb072;
$color-purple: #8773ae;
$color-background: #fbfcfe;
$color-blue-background: #f0feff;
$color-blue-background-darker: #d7f6f9;
$color-image-border: #c4c4c4;

// #FONT VARIABLES#
//

$font-size-default: 11px;
$h1: 48px;
$h2: 24px;
$h3: 18px;
$h4: 1.27rem;
$h5: 1.09rem;
$font-size-menu: 14px;
$font-size-btn: 12px;

$h1-sm: 3.052rem;
$h2-sm: 1.953rem;
$h3-sm: 1.563rem;
$h4-sm: 14px;
$h5-sm: 1.09rem;

// #GENERAL VARIABLES#
//

$border-radius-default: 8px;

@function rem($sizepx) {
  @return $sizepx;
}
