@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h6n1ul');
  src:  url('fonts/icomoon.eot?h6n1ul#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h6n1ul') format('truetype'),
    url('fonts/icomoon.woff?h6n1ul') format('woff'),
    url('fonts/icomoon.svg?h6n1ul#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e907";
}
.icon-assistant:before {
  content: "\e908";
}
.icon-checkmark:before {
  content: "\e900";
}
.icon-cross:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-kid:before {
  content: "\e909";
}
.icon-message:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-star:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
