$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e907";
$icon-arrow-up: "\e90b";
$icon-assistant: "\e908";
$icon-checkmark: "\e900";
$icon-cross: "\e901";
$icon-facebook: "\e902";
$icon-first: "\e90d";
$icon-kid: "\e909";
$icon-last: "\e90e";
$icon-message: "\e903";
$icon-next: "\e90f";
$icon-phone: "\e90a";
$icon-prev: "\e910";
$icon-search: "\e90c";
$icon-star: "\e904";
$icon-twitter: "\e905";
$icon-youtube: "\e906";

