$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e907";
$icon-assistant: "\e908";
$icon-checkmark: "\e900";
$icon-cross: "\e901";
$icon-facebook: "\e902";
$icon-kid: "\e909";
$icon-message: "\e903";
$icon-phone: "\e90a";
$icon-star: "\e904";
$icon-twitter: "\e905";
$icon-youtube: "\e906";

